*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(back.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
h1{
    color: rgb(197, 209, 238);
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 400px;
}

#thirdDiv{
    background: rgb(99, 111, 135);
    width: 500px;
    height: 600px;
    padding: 50px;
    border: 2px solid #444;
    margin: auto;
    position: relative;
    
}

#spanId{
    font-size: 18px;
    margin: 50px;
}
a{
    text-decoration: none;
    color: rgb(195, 206, 216);
}